{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}


<div>
    Customized Page Number:<input type="text" id="limit"/> <button id="btn_set_limit" type="submit">Go</button>
</div>
{% for entry in entries %}
{{ macros.render_entry(entry) }}
{% endfor %}




<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

<script>
    $("#btn_set_limit").click(function(){
        limit=$("limit").val()
        window.location.href=window.location.href+"?limit"=limit
    })
</script>